body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    color: #202124;
    background: linear-gradient(
        135deg,
        #f1f3f4 0%,
        #e3eefc 45%,
        #f1f3f4 100%
);
} /* плавный фон страницы */

.main-content {
    transition: margin-left 0.3s ease
} /* плавный сдвиг при открытии панели */

.main-content.shifted {
    margin-left: 300px; /* ширина панели */
}

.app {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
} /* центрирование и отступы */


h1 .material-symbols-outlined {
    font-size: 40px;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: -5px;
} /* иконка в заголовке */

h1 {
    font-weight: 500;
    margin-bottom: 20px;
    padding: 16px 24px;
  
} /* заголовок */

#addBtn {
    width: 100%;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 12px;
   border: none;
   background: #1a73e8;
   color: white;
   cursor: pointer;
} /* кнопка добавления */

#addBtn:hover {
    background: black;
} 

.inputSearch {
    position: relative;
    display: inline-block;
    width: 93.7%;
} /* контейнер для поиска */

.inputSearch input {
    width: 100%;
    padding: 15px 0px;
    margin-bottom: 25px;
    padding-left: 65px;
    padding-right: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 15px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: all 0.3s;
    
} /* поле поиска */

.inputSearch input:focus {
    box-shadow: 0 4px 12px rgba(26,115,232,0.2);
} /* эффект при фокусе */

.inputSearch span {
   position: absolute;
   left: 12px;
   top: 30%;
   color: #888;
   transform: translateY(-45%);
   pointer-events: none;
} /* иконка поиска */

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    background: transparent;;
} /* таблица */


thead {
    display: none;
} /* скрытие стандартной шапки таблицы */

.table-head {
    display: grid;
    grid-template-columns: 2fr 1.2fr 1fr 1.5fr 2fr 1fr;
    background: white;
    border-radius: 25px;
    padding: 14px 16px;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    font-weight: bold;
    font-size: 16px;
    ;
} /* кастомная шапка таблицы */


.table-head,
tbody tr {
    display: grid;
    grid-template-columns: 2fr 1.2fr 1fr 1.5fr 2fr 1fr;
    align-items: center;
    padding: 0 16px; /* важный отступ по бокам */
    box-sizing: border-box; /* чтобы padding не ломал ширину */
} /* сетка для шапки и строк */


tbody tr {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    border-radius: 25px;
    overflow: hidden;
    transition: background 0.2s;
    margin-bottom: 8px; /* немного пространства между строками */
} /* стили для строк таблицы */

tbody tr:hover {
    background: #f8f9fa;
}

tbody tr td,
.table-head > div {
    padding: 14px 0; /* вертикальные отступы для равномерности */
    overflow-wrap: anywhere; /* чтобы переносы не ломали сетку */
} /* ячейки таблицы и шапки */

td {
    padding: 14px 16px;
    font-size: 14px;

} /* ячейки таблицы */

td:first-child {
    font-weight: 500;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
} /* скругление первых ячеек */

tbody tr td:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
} /* скругление последних ячеек */  

td button {
    background: transparent;
    color: #1a73e8;
    border: none;
    padding: 6px 10px;
    border-radius: 16px;
    cursor: pointer;
} /* кнопки в таблице */


td button:hover {
    background: rgba(26,115,232,0.1);
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(32,33,36,0.4);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
} /* модальное окно */

.modal-content {
    background: white;
    border-radius: 16px;
    padding: 24px;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.3);
} /* содержимое модального окна */

.modal-content h2 {
    margin: 0 0 8px;
    font-weight: 500;
} /* заголовок модального окна */

input,
select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #dadce0;
    font-size: 14px;
} /* стили для инпутов и селектов */

input:focus,
select:focus {
    outline: none;
    border-color: #1a73e8;
} /* эффект фокуса для инпутов и селектов */


.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 10px;
} /* контейнер для кнопок модального окна */
 
.modal-actions button {
    border-radius: 20px;
    padding: 8px 16px;
    background: #1a73e8;
    color: white;
    border: none;;
} /* кнопки модального окна */

.modal-actions button:hover {
    background: black;
    transition: background 0.5s;
} /* эффект наведения для кнопок */

.modal-actions .cancel {
    background: transparent;
    color: #5f6368;
} /* кнопка отмены */

.modal-actions .cancel:hover {
    background: rgba(0,0,0,0.05);
    transition: background 0.5s;
} /* эффект наведения для кнопки отмены */

.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* скрыта */
    width: 250px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 8px rgba(0,0,0,0.15);
    padding: 20px;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
} /* боковая панель */




.sidebar.open {
    left: 0;
} /* показ панели */

.sidebar h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000; 
    text-align: center;
} /* заголовок панели */

.sidebar button {
   width: 100%;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 12px;
   border: none;
   background: #1a73e8;
   color: white;
   cursor: pointer;
   margin-top: 10%;
} /* кнопки панели */

.sidebar button:hover {
    background: black;
    transition: background 0.3s;
}   /* эффект наведения для кнопок панели */

/* кнопка открытия */
.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 48px;
    height: 48px;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 1100;
    background: transparent;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, transform 0.2s;
   
} 

.sidebar-toggle:active {
    transform: scale(1);
} /* эффект нажатия */

.sidebar-toggle .material-symbols-outlined {
    font-size: 40px;
    line-height: 1;
    transition: transform 0.35s ease;
    transform: rotate(90deg);
} /* иконка кнопки */

.sidebar-toggle.open .material-symbols-outlined {
    transform: rotate(0deg);
} /* иконка при открытой панели */

.confirmMessage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: #ffffff;
    color: #202124;
    padding: 24px 28px;
    border-radius: 16px;
    
    box-shadow: 0 8px 24px rgba(0,0,0,0.25);
    z-index: 2000;

    min-width: 280px;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
} /* окно подтверждения */

.confirmMessage p {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 500;
} /* текст в окне подтверждения */

.confirmMessage button {
    min-width: 100px;
    padding: 8px 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s, box-shadow 0.2s;
} /* кнопки в окне подтверждения */

/* Да */
#confirmBtn {
    background: #1a73e8;
    color: white;
} /* кнопка подтверждения */

#confirmBtn:hover {
    background: black;
    transition: background 0.5s;
}

/* Отмена */
#cancelBtn {
    background: transparent;
    color: #5f6368;
} /* кнопка отмены */

#cancelBtn:hover {
    background: rgba(0,0,0,0.05);
    transition: background 0.5s;
}

.deleteMsg {    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: #ffffff;
    color: #202124;
    padding: 24px 28px;
    border-radius: 16px;
    
    box-shadow: 0 8px 24px rgba(0,0,0,0.25);
    z-index: 2000;

    min-width: 280px;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
} /* окно удаления */

.deleteMsg p {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 500;
} /* текст в окне удаления */

.deleteMsg button {
    min-width: 100px;
    padding: 8px 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s, box-shadow 0.2s;
} /* кнопки в окне удаления */

#deleteBtn {
    background: #1a73e8;
    color: white;
    transition: background 0.5s;
}   /* кнопка удаления */

#deleteBtn:hover {
    background: #000000;
    transition: background 0.5s;
}

#undeleteBtn {
    background: transparent;
    color: #5f6368;
} /* кнопка отмены удаления */

#undeleteBtn:hover {
    background: rgba(0,0,0,0.05);
}

#errorBtn {
    background: #1a73e8;
    color: white;
} /* кнопка ошибки */

#errorBtn:hover {
    background: black;
    transition: background 0.5s;
}