body {
    font-family: Roboto, Arial, sans-serif;
    background: #f1f3f4;
    margin: 0;
}

.app {
    max-width: 1100px;
    margin: auto; 
    padding: 24px;
}

h1 {
    font-weight: 500;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    margin-bottom: 25px;
}

.form {
    display: grid; /*расчертил поля */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
}

input, select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #dadce0;
} 

button {
    background: #1a73e8;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    cursor: pointer;
}

#search {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #dadce0;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f8f9fa;
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

tr {
    border-bottom: 1px solid #e0e0e0;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.cancel {
 background: #ccc;
 color: black; 
}